<table [style.width]="tableSettings.width">
  <thead>
    <tr>
      <th width="50px" *ngIf="tableSettings.selectable">
        <table-cell-base
          [component]="undefined"
          [componentData]=""
        ></table-cell-base>
      </th>
      <th *ngFor="let column of columnDefinition">
        <table-cell-base
          [component]="column.headerComponent"
          [componentData]="column.data"
        ></table-cell-base>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let field of data; let i = index" class="row-{{i}}">
      <td width="50px" *ngIf="tableSettings.selectable" class="checkbox-field">
        <table-cell-base
          #checkboxes
          [component]="checkBox"
          [componentData]="checkBoxData[i]"
          (emitter)="handleSelect($event)"
        ></table-cell-base>
      </td>
      <td *ngFor="let column of columnDefinition">
        <table-cell-base
          [component]="column.rowComponent"
          [componentData]="field[column.field]"
          (emitter)="handleGenericEvent($event)"
        ></table-cell-base>
      </td>
    </tr>
  </tbody>
</table>
